body { background: transparent none repeat scroll center top; }
.wb_sbg { background: transparent none no-repeat scroll center bottom; }
body, .wb_sbg { min-width: 992px; min-height: 590px; }
.root { width: 992px; height: 590px; overflow: visible; }
#wb_element_instance24 { left: 650px; top: 110px; min-width: 320px; width: 320px; min-height: 60px; height: 60px; display: block; z-index: 64; }
#wb_element_instance24 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance24, #wb_element_instance24 ul { text-align: center; }
#wb_element_instance24 ul ul { background: transparent none repeat scroll left top; }
#wb_element_instance24 li { margin: 10px 10px 10px 10px; }
#wb_element_instance24 li a { text-transform: none; border: 0px none #000000; padding: 10px 30px 10px 30px; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none repeat scroll left top; }
#wb_element_instance24 li:hover > a, #wb_element_instance24 li:focus > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: #ffffff none no-repeat scroll center top; }
#wb_element_instance24 li.active > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: #ffffff none no-repeat scroll center top; }
#wb_element_instance25 { left: 3px; top: 44px; min-width: 116px; width: 116px; min-height: 52px; height: 52px; display: block; z-index: 65; }
#wb_element_instance25 img { width: 116px; height: 52px; }
#wb_element_instance26 { left: 20px; top: 99px; min-width: 190px; width: 190px; min-height: 52px; height: 52px; display: block; z-index: 66; }
#wb_element_instance27 { left: 0px; top: 0px; min-width: 273px; width: 273px; min-height: 24px; height: 24px; display: block; z-index: 59; }
#wb_element_instance28 { left: 830px; top: 0px; min-width: 146px; width: 146px; min-height: 24px; height: 24px; display: block; z-index: 60; }
#wb_element_instance29 { left: 0px; top: 190px; display: block; z-index: 9000; }
#wb_element_instance30 { left: 0px; top: 210px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	body, .wb_sbg { min-width: 992px; min-height: 590px; }
	.root { width: 992px; height: 590px; overflow: visible; }
	#wb_element_instance24 { left: 650px; top: 110px; min-width: 320px; width: 320px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance25 { left: 3px; top: 44px; min-width: 116px; width: 116px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance25 img { width: 116px; height: 52px; }
	#wb_element_instance26 { left: 20px; top: 99px; min-width: 190px; width: 190px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance27 { left: 0px; top: 0px; min-width: 273px; width: 273px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance28 { left: 830px; top: 0px; min-width: 146px; width: 146px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 992px) {
	body, .wb_sbg { min-width: 992px; min-height: 590px; }
	.root { width: 992px; height: 590px; overflow: visible; }
	#wb_element_instance24 { left: 650px; top: 110px; min-width: 320px; width: 320px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance25 { left: 3px; top: 44px; min-width: 116px; width: 116px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance25 img { width: 116px; height: 52px; }
	#wb_element_instance26 { left: 20px; top: 99px; min-width: 190px; width: 190px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance27 { left: 0px; top: 0px; min-width: 273px; width: 273px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance28 { left: 830px; top: 0px; min-width: 146px; width: 146px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 1200px) {
	body, .wb_sbg { min-width: 992px; min-height: 590px; }
	.root { width: 992px; height: 590px; overflow: visible; }
	#wb_element_instance24 { left: 650px; top: 110px; min-width: 320px; width: 320px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance25 { left: 3px; top: 44px; min-width: 116px; width: 116px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance25 img { width: 116px; height: 52px; }
	#wb_element_instance26 { left: 20px; top: 99px; min-width: 190px; width: 190px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance27 { left: 0px; top: 0px; min-width: 273px; width: 273px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance28 { left: 830px; top: 0px; min-width: 146px; width: 146px; min-height: 24px; height: 24px; display: block; }
}
