#wb_header { background: transparent none no-repeat scroll center top; height: 212px; }
#wb_header { height: 212px; }
#wb_main { background: transparent none repeat-x scroll left top; height: 128px; padding: 0 0 200px 0; }
#wb_main { height: 128px; }
#wb_footer { background: transparent none repeat-x scroll center top; height: 50px; }
#wb_footer { height: 50px; }
body { background: transparent url("../gallery/9af495f14f8b537cbebf997ae35c4289.jpg") repeat-x scroll left top; }
.wb_sbg { background: transparent url("../gallery/c4663dab388e0c738ff1d40c918d277d.png") repeat-x scroll center top; }
body, .wb_sbg { min-width: 992px; min-height: 832px; }
.root { width: 992px; height: 832px; overflow: visible; }
#wb_element_instance0 { left: 650px; top: 110px; min-width: 320px; width: 320px; min-height: 60px; height: 60px; display: block; z-index: 64; }
#wb_element_instance0 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: center; }
#wb_element_instance0 ul ul { background: transparent none repeat scroll left top; }
#wb_element_instance0 li { margin: 10px 10px 10px 10px; }
#wb_element_instance0 li a { text-transform: none; border: 0px none #000000; padding: 10px 30px 10px 30px; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none repeat scroll left top; }
#wb_element_instance0 li:hover > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: #ffffff none no-repeat scroll center top; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: #ffffff none no-repeat scroll center top; }
#wb_element_instance1 { left: 3px; top: 44px; min-width: 116px; width: 116px; min-height: 52px; height: 52px; display: block; z-index: 65; }
#wb_element_instance1 img { width: 116px; height: 52px; }
#wb_element_instance2 { left: 20px; top: 99px; min-width: 190px; width: 190px; min-height: 52px; height: 52px; display: block; z-index: 66; }
#wb_element_instance3 { left: 0px; top: 0px; min-width: 273px; width: 273px; min-height: 24px; height: 24px; display: block; z-index: 59; }
#wb_element_instance4 { left: 830px; top: 0px; min-width: 146px; width: 146px; min-height: 24px; height: 24px; display: block; z-index: 60; }
#wb_element_instance5 { left: 0px; top: 10px; min-width: 555px; width: 555px; min-height: 118px; height: 118px; display: block; z-index: 39; }
#wb_element_instance6 { left: 0px; top: 148px; display: block; z-index: 9000; }
#wb_element_instance7 { left: 0px; top: 44px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 212px; }
	#wb_main { height: 128px; }
	#wb_footer { height: 50px; }
	body, .wb_sbg { min-width: 992px; min-height: 590px; }
	.root { width: 992px; height: 590px; overflow: visible; }
	#wb_element_instance0 { left: 650px; top: 110px; min-width: 320px; width: 320px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance1 { left: 3px; top: 44px; min-width: 116px; width: 116px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance1 img { width: 116px; height: 52px; }
	#wb_element_instance2 { left: 20px; top: 99px; min-width: 190px; width: 190px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance3 { left: 0px; top: 0px; min-width: 273px; width: 273px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { left: 830px; top: 0px; min-width: 146px; width: 146px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance5 { left: 0px; top: 10px; min-width: 555px; width: 555px; min-height: 118px; height: 118px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 212px; }
	#wb_main { height: 128px; }
	#wb_footer { height: 50px; }
	body, .wb_sbg { min-width: 992px; min-height: 590px; }
	.root { width: 992px; height: 590px; overflow: visible; }
	#wb_element_instance0 { left: 650px; top: 110px; min-width: 320px; width: 320px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance1 { left: 3px; top: 44px; min-width: 116px; width: 116px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance1 img { width: 116px; height: 52px; }
	#wb_element_instance2 { left: 20px; top: 99px; min-width: 190px; width: 190px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance3 { left: 0px; top: 0px; min-width: 273px; width: 273px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { left: 830px; top: 0px; min-width: 146px; width: 146px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance5 { left: 0px; top: 10px; min-width: 555px; width: 555px; min-height: 118px; height: 118px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 212px; }
	#wb_main { height: 128px; }
	#wb_footer { height: 50px; }
	body, .wb_sbg { min-width: 992px; min-height: 590px; }
	.root { width: 992px; height: 590px; overflow: visible; }
	#wb_element_instance0 { left: 650px; top: 110px; min-width: 320px; width: 320px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance1 { left: 3px; top: 44px; min-width: 116px; width: 116px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance1 img { width: 116px; height: 52px; }
	#wb_element_instance2 { left: 20px; top: 99px; min-width: 190px; width: 190px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance3 { left: 0px; top: 0px; min-width: 273px; width: 273px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { left: 830px; top: 0px; min-width: 146px; width: 146px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance5 { left: 0px; top: 10px; min-width: 555px; width: 555px; min-height: 118px; height: 118px; display: block; }
}
