#wb_header { background: transparent none no-repeat scroll center top; height: 212px; }
#wb_header { height: 212px; }
#wb_main { background: transparent none repeat-x scroll left top; height: 560px; padding: 0 0 50px 0; }
#wb_main { height: 560px; }
#wb_footer { background: transparent none repeat-x scroll center top; height: 50px; }
#wb_footer { height: 50px; }
body { background: #d8e5f0 url("../gallery/9af495f14f8b537cbebf997ae35c4289.jpg") repeat-x scroll left top; }
.wb_sbg { background: transparent url("../gallery/c4663dab388e0c738ff1d40c918d277d.png") repeat-x scroll left top; }
body, .wb_sbg { min-width: 992px; min-height: 962px; }
.root { width: 992px; height: 962px; overflow: visible; }
#wb_element_instance8 { left: 650px; top: 110px; min-width: 320px; width: 320px; min-height: 60px; height: 60px; display: block; z-index: 64; }
#wb_element_instance8 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance8, #wb_element_instance8 ul { text-align: center; }
#wb_element_instance8 ul ul { background: transparent none repeat scroll left top; }
#wb_element_instance8 li { margin: 10px 10px 10px 10px; }
#wb_element_instance8 li a { text-transform: none; border: 0px none #000000; padding: 10px 30px 10px 30px; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none repeat scroll left top; }
#wb_element_instance8 li:hover > a, #wb_element_instance8 li:focus > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: #ffffff none no-repeat scroll center top; }
#wb_element_instance8 li.active > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: #ffffff none no-repeat scroll center top; }
#wb_element_instance9 { left: 3px; top: 44px; min-width: 116px; width: 116px; min-height: 52px; height: 52px; display: block; z-index: 65; }
#wb_element_instance9 img { width: 116px; height: 52px; }
#wb_element_instance10 { left: 20px; top: 99px; min-width: 190px; width: 190px; min-height: 52px; height: 52px; display: block; z-index: 66; }
#wb_element_instance11 { left: 0px; top: 0px; min-width: 273px; width: 273px; min-height: 24px; height: 24px; display: block; z-index: 59; }
#wb_element_instance12 { left: 830px; top: 0px; min-width: 146px; width: 146px; min-height: 24px; height: 24px; display: block; z-index: 60; }
#wb_element_instance13 { left: 19px; top: 59px; min-width: 961px; width: 961px; min-height: 74px; height: 74px; display: block; z-index: 38; }
#wb_element_instance14 { left: 20px; top: 240px; min-width: 960px; width: 960px; min-height: 320px; height: 320px; display: block; z-index: 39; }
#wb_element_instance14 form .form-field { width: 672px; }
#wb_element_instance14 form .form-area-field { height: 190px; }
#wb_element_instance14 form td { text-align: right; }
#wb_element_instance14 form tr.area-row > th { height: 1%; }
#wb_element_instance14 form tr.area-row > td { height: 1%; }
#wb_element_instance14 form tr.form-footer > td { height: 20px; }
#wb_element_instance15 { left: 0px; top: 580px; display: block; z-index: 9000; }
#wb_element_instance16 { left: 0px; top: 44px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 212px; }
	#wb_main { height: 560px; }
	#wb_footer { height: 50px; }
	body, .wb_sbg { min-width: 992px; min-height: 872px; }
	.root { width: 992px; height: 872px; overflow: visible; }
	#wb_element_instance8 { left: 650px; top: 110px; min-width: 320px; width: 320px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance9 { left: 3px; top: 44px; min-width: 116px; width: 116px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance9 img { width: 116px; height: 52px; }
	#wb_element_instance10 { left: 20px; top: 99px; min-width: 190px; width: 190px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance11 { left: 0px; top: 0px; min-width: 273px; width: 273px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance12 { left: 830px; top: 0px; min-width: 146px; width: 146px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance13 { left: 19px; top: 59px; min-width: 961px; width: 961px; min-height: 74px; height: 74px; display: block; }
	#wb_element_instance14 { left: 20px; top: 240px; min-width: 960px; width: 960px; min-height: 320px; height: 320px; display: block; }
	#wb_element_instance14 form .form-field { width: 672px; }
	#wb_element_instance14 form .form-area-field { height: 190px; }
}

@media (min-width: 992px) {
	#wb_header { height: 212px; }
	#wb_main { height: 560px; }
	#wb_footer { height: 50px; }
	body, .wb_sbg { min-width: 992px; min-height: 872px; }
	.root { width: 992px; height: 872px; overflow: visible; }
	#wb_element_instance8 { left: 650px; top: 110px; min-width: 320px; width: 320px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance9 { left: 3px; top: 44px; min-width: 116px; width: 116px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance9 img { width: 116px; height: 52px; }
	#wb_element_instance10 { left: 20px; top: 99px; min-width: 190px; width: 190px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance11 { left: 0px; top: 0px; min-width: 273px; width: 273px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance12 { left: 830px; top: 0px; min-width: 146px; width: 146px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance13 { left: 19px; top: 59px; min-width: 961px; width: 961px; min-height: 74px; height: 74px; display: block; }
	#wb_element_instance14 { left: 20px; top: 240px; min-width: 960px; width: 960px; min-height: 320px; height: 320px; display: block; }
	#wb_element_instance14 form .form-field { width: 672px; }
	#wb_element_instance14 form .form-area-field { height: 190px; }
}

@media (min-width: 1200px) {
	#wb_header { height: 212px; }
	#wb_main { height: 560px; }
	#wb_footer { height: 50px; }
	body, .wb_sbg { min-width: 992px; min-height: 872px; }
	.root { width: 992px; height: 872px; overflow: visible; }
	#wb_element_instance8 { left: 650px; top: 110px; min-width: 320px; width: 320px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance9 { left: 3px; top: 44px; min-width: 116px; width: 116px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance9 img { width: 116px; height: 52px; }
	#wb_element_instance10 { left: 20px; top: 99px; min-width: 190px; width: 190px; min-height: 52px; height: 52px; display: block; }
	#wb_element_instance11 { left: 0px; top: 0px; min-width: 273px; width: 273px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance12 { left: 830px; top: 0px; min-width: 146px; width: 146px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance13 { left: 19px; top: 59px; min-width: 961px; width: 961px; min-height: 74px; height: 74px; display: block; }
	#wb_element_instance14 { left: 20px; top: 240px; min-width: 960px; width: 960px; min-height: 320px; height: 320px; display: block; }
	#wb_element_instance14 form .form-field { width: 672px; }
	#wb_element_instance14 form .form-area-field { height: 190px; }
}
